@charset "UTF-8";

.money-harvested {
    color: rgb(26, 14, 187);
}

body {
    text-align: left;
}

main-button {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    width: auto;
    height: auto;
}

.navigation-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 100px;
    height: 30px;
}

.tree-orchard {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 70px;
}

.tree {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}